* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
}

#header-principale {
    margin: 10px;
    height: 80px;
    background-color: violet;
}

#first-section {
    margin: 10px;
    height: 300px;
    background-color: rgb(204, 248, 115);
}